alpaca-py==0.30.1
flask==3.0.3
flask-session==0.8.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
lightgbm==4.5.0
ta==0.11.0
apscheduler==3.10.4
cryptography==43.0.1
python-dotenv==1.0.1
joblib==1.4.2
gunicorn==23.0.0
